# Python
.venv/
__pycache__/
*.py[cod]

# Future vector database
vector_db/

#Logs
logs/

.streamlit/secrets.toml

.env

.vscode/

*.db

*.sqlite3
# Generated reports
reports/
# Generated chunkss
data/chunks/